<header>
    <nav>
        <ul style='text-decoration: none, list-style: none, padding: 3px, marrgin: 10px, display: block'>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About us</a>
            </li>
            <li>
                <a href="/price">price</a>
            </li>
        </ul>
    </nav>
</header>